<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath"
         alt="{{recipe.name}}"
         clas='image-responsive'
         style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sx-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        Manage Recipe
      </div>
      <div class="panel-body">
        <button type="button"
                name="button"
                class="btn btn-info">To Shopping list</button>
        <button type="button"
                name="button"
                class="btn btn-info">Edit Recipe</button>
        <button type="button"
                name="button"
                class="btn btn-info">Delete Recipe</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{recipe.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Ingridients
    </div>
  </div>